<div class="container">
  <div class="header" [class.dark-mode]="darkMode()">
    <nav>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">DashBoard</a>
    </nav>
    <div class="toggle-container">
      <mat-icon>settings</mat-icon>
      <mat-slide-toggle [checked]="darkMode()" (change)="toggleDarkMode()">
        <mat-icon>{{ darkMode() ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </mat-slide-toggle>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" [class.dark-mode]="darkMode()" [class.visible]="true">
    <div class="footer-content">
      <div class="copyright">
        <p>&copy; 2025 Angular. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>